body {
  background-color: #dddddda1;
}

h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 400;
}

#buttonSubmit,
#buttonEdit {
  transform: translateY(50%);
}

#tableTitle {
  font-weight: 700;
}
